@use "../abstracts" as *;

.auth-form {
  border: $border-main;
  border-radius: 25px;
  background-color: $primary-color;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column nowrap;
  margin: 7vh auto;
  padding: 20px;
  width: 30vw;
  height: 30vh;

  input {
    height: 5vh;
    width: 20vw;
    text-align: center;
    border: $border-main;
  }

  .auth-buttons {
    display: flex;
    align-items: center;
    width: 23vw;
    justify-content: space-evenly;
  }

  button {
    @include button;
  }

  button:active {
    background-color: $primary-color;
  }
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5vw;

  button {
    @include button;
  }

  button:active {
    background-color: $primary-color;
  }
}

@include breakpoint(mobile) {
  .auth-form {
    width: 80vw;
    height: 200px;

    input {
      width: 70vw;
      height: 35px;
    }

    .auth-buttons {
      display: flex;
      align-items: center;
      width: 78vw;
      justify-content: space-evenly;
    }

    button {
      width: 22vw;
      height: 35px;
    }
  }

  .welcome {
    button {
      width: 20vw;
    }
  }
}
