@use '../index' as *;

.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  margin-left: 10%;
  margin-top: 6vh;

  h1 {
    font-size: 2em;
    margin: 0;
  }

  .history-about {
    font-size: 1.1em;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 3vh;
    width: 75vw;
    padding: 1%;
    background-color: $primary-color;
    border: $border-main;
  }

  .miyazaki,
  .hisaishi {
    width: 75vw;
    margin-top: 2vh;
    padding: 1%;
    background-color: $primary-color;
    border: $border-main;
  }

  .collapse {
    ul, p {
      display: none;
    }
  }
}

.smash {
  width: 75vw;
  margin-left: 3%;
  transition: 200ms;
}
