@use "../abstracts/" as *;

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  header {
    margin: 1vh;
  }

  h2 {
    text-decoration: underline;
  }
}

.info-container {
  @include main-theme;
  width: 90vw;
}

.home-info {
  width: 70vw;
  background-color: $primary-color;
  border: $border-main;
  border-radius: 15px;
  padding: 1%;
  margin: 5vh auto;
}

@include breakpoint(tablet) {
  .info-container {
    width: 95vw;
  }

  .home-info {
    width: 85vw;
    padding: 2%;
  }
}

@include breakpoint(mobile) {
  .home {
    h2 {
      text-align: center;
    }
  }

  .home-info {
    width: 80vw;
    padding: 3%;
    margin: 3vh auto;
  }
}
