@use '../index' as *;

.preview {
  height: 40vh;
  width: 17vw;
  padding: 10px;
  margin: 5px;
  text-align: center;

  img {
    height: 35vh;
    width: 80%;
    transition: transform 0.3s;
  }

  img:hover {
    transform: scale(1.1);
  }

  h4 {
    display: flex;
    justify-content: space-evenly;
  }

  button {
    cursor: pointer;
  }

  button:active {
    background-color: $primary-color;
  }
}

.catalog-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
  width: 77vw;
  margin: 2vh 1vh 2vh 1.5vw;

  .input-container {
    display: flex;
    position: relative;
    left: 25%;
    width: 15vw;
    justify-content: space-between;

    input {
      height: 3vh;
      width: 12vw;
      text-align: center;
    }
  }
}

.catalog {
  background-color: $secondary-color;
  border: $border-main;
  padding: 10px;
  width: 95vw;
  display: flex;
  flex-flow: row wrap;
  margin-left: 1.5vw;
  
}

.smash {
  width: 75vw;
  position: relative;
  right: 1%;
}
