@use "../abstracts" as *;

.movie-title {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.movie-container {
  border: $border-main;
  width: 75vw;
  margin: 2vh auto;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;

  .movie-info {
    background-color: $secondary-color;
    padding: 10px;
    width: 75vw;
    display: flex;
    flex-direction: column;
    font-size: 1em;
  }

  h3 {
    line-height: 50%;
  }

  img {
    height: auto;
    width: 35vw;
    border-right: $border-main;
  }

  .review-section {
    border-top: 1px solid white;
    margin-top: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      margin-top: 6vh;
    }
  }
}

.movie-smash {
  margin: 1.75vh 0 0 3vw;
}

@include breakpoint(tablet) {
  .movie-title {
    margin: 0 auto;
  }

  .movie-container {
    width: 95vw;
    margin: 2vh auto;
  
    .movie-info {
      padding: 10px;
      width: 45vw;
      display: flex;
      flex-direction: column;
      font-size: 1em;
    }
  
    h3 {
      line-height: 45%;
    }
  
    img {
      height: 65vh;
      width: 47vw;
      border-right: $border-main;
    }
  
    .review-section {
      border-top: 1px solid white;
      margin-top: 2vh;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45vw;
  
      h2 {
        margin-top: 6vh;
      }
    }
  }
}

@include breakpoint(mobile) {
  .movie-container {
    border: $border-main;
    width: 85vw;
    margin: 1vh auto;
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  
    .movie-info {
      background-color: $secondary-color;
      padding: 10px;
      width: 81vw;
      display: flex;
      flex-direction: column;
      font-size: 1em;
    }
  
    h3 {
      line-height: 50%;
    }
  
    img {
      height: 75vh;
      width: 85vw;
    }
  
    .review-section {
      margin-top: 3vh;
    }
  }
}
