@use "../abstracts" as *;

nav {
  border-bottom: $border-main;
  height: 11vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 0.5%;
  background-color: $primary-color;

  button {
    height: 7.5vh;
    width: 7vw;
    background-color: #7e7e7ea8;
    color: white;
    border-radius: 12%;
    cursor: pointer;
    border: $border-main;
    font-size: 1.2em;
  }

  button:hover {
    background-color: #8b8b8b;
  }

  button:active {
    background-color: $primary-color;
  }

  h1 {
    position: absolute;
    right: 7%;
  }
}

.nav-buttons {
  width: 50vw;
  display: flex;
  justify-content: space-around;
  margin-left: 18vw;
}

.user-icon {
  height: 50px;
  width: 50px;
  position: absolute;
  right: 1%;
  top: 4%;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 16vw;
  position: relative;
  left: 20%;

  .list-toggle {
    height: 4vh;
    width: 5vw;
    font-size: 0.75em;
  }
}

.studio-logo {
  height: 90px;
  width: 180px;
  position: absolute;
  left: 1%;
}

.mobile-menu-button {
  display: none;
}

@include breakpoint(mobile) {
  nav {
    position: sticky;
    top: 0;

    .mobile-menu-button {
      display: block;
      position: absolute;
      left: 3%;
      height: 9vh;
      width: 14vw;
    }

    button {
      width: 30vw;
      height: 12vh;
      background-color: $mobile-blue;
      border-radius: 0;
    }

    .nav-buttons {
      flex-direction: column;
      position: relative;
      top: 39vh;
      right: 25%;
      height: 65vh;
      justify-content: space-evenly;
      // width: auto;
    }
  }

  .user-info {
    position: absolute;
    left: 67%;
    top: 20%;

    h2 {
      display: none;
    }

    .list-toggle {
      height: 7vh;
      width: 18vw;
      border-radius: 12%;
      background-color: #7e7e7ea8;
    }
  }

  .user-icon {
    top: 25%;
  }

  .studio-logo {
    height: 70px;
    width: 165px;
    position: absolute;
    left: 20%;
  }
}
