@use "../abstracts" as *;

.stats {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 80vw;
  background-color: #929292;
  border-left: $border-main;
  border-right: $border-main;
}

.pie-chart {
  width: 38vw;
  @include chart;
}

.bar {
  margin-top: 3vw;
  width: 65vw;
  @include chart;
}

.bar-mobile {
  display: none;
}

@include breakpoint(tablet) {
  .stats {
    margin: 0 auto;
    width: 95vw;
    background-color: #929292;
    border-left: $border-main;
    border-right: $border-main;
  }
  
  .pie-chart {
    width: 85vw;
    @include chart;
  }
  
  .bar {
    display: none;
  }
  
  .bar-mobile {
    @include chart;
    display: inline-block;
    margin-top: 3vw;
  }
}

@include breakpoint(mobile) {
  .stats {
    margin: 0;
    width: 100vw;
    background-color: transparent;
    border: none;
  }
  
  .pie-chart {
    @include chart;
    width: 95vw;
  }
  
  .bar-mobile {
    @include chart;
    margin-top: 7vw;
  }
}
