@use '../abstracts' as *;

.stats {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 80vw;
  background-color: #929292;
  border-left: $border-main;
  border-right: $border-main;
}

.pie-chart {
  width: 38vw;
  @include chart;
}

.bar {
  margin-top: 3vw;
  width: 65vw;
  @include chart;
}
