@use "../abstracts" as *;

.watchlist {
  background-color: $primary-color;
  display: flex;
  width: 19vw;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  position: fixed;
  right: 1%;
  margin-top: 9vh;
  animation: fadeIn 650ms;
  border: $border-main;
  color: white;
  text-decoration: none;

  h2 {
    text-decoration: underline;
  }

  li {
    list-style: none;
  }
}

.list-info {
  width: 16vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-right: 2vw;
  font-size: 1.2em;

  button {
    height: 2vh;
    width: 2vw;
    cursor: pointer;
    border: $border-main;
  }

  button:active {
    background-color: $primary-color;
  }
}

.text-link {
  color: white;
  text-decoration: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@include breakpoint(mobile) {
  .watchlist {
    background-color: $mobile-blue;
    width: 75vw;
    align-items: center;
    position: fixed;
    right: 1%;
    margin-top: 0.5vh;
    animation: fadeIn linear 750ms;
  }

  .list-info {
    width: 65vw;
    justify-content: space-between;
    font-size: 1.2em;
    margin-right: 5vw;

    button {
      height: 3vh;
      width: 5vw;
    }
  }
}
