.auth-form {
  border: 2px solid black;
  border-radius: 25px;
  background-color: #2a5479a8;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column nowrap;
  margin: 5vh 35vw;
  padding: 20px;
  width: 30vw;
  height: 30vh;
}
.auth-form input {
  height: 5vh;
  width: 20vw;
  text-align: center;
  border: 2px solid black;
}
.auth-form .buttons {
  display: flex;
  align-items: center;
  width: 23vw;
  justify-content: space-evenly;
}
.auth-form button {
  height: 5vh;
  width: 6vw;
  cursor: pointer;
  border: 2px solid black;
}
.auth-form button:active {
  background-color: #2a5479a8;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2vw;
}
.welcome button {
  height: 5vh;
  width: 6vw;
  cursor: pointer;
}
.welcome button:active {
  background-color: #2a5479a8;
}
