.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  margin-left: 10%;
  margin-top: 6vh;
}
.history h1 {
  font-size: 2em;
  margin: 0;
}
.history .history-about {
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 3vh;
  width: 75vw;
  padding: 1%;
  background-color: #385a7785;
  border: 2px solid black;
}
.history .miyazaki,
.history .hisaishi {
  width: 75vw;
  margin-top: 2vh;
  padding: 1%;
  background-color: #385a7785;
  border: 2px solid black;
}
.history .collapse ul, .history .collapse p {
  display: none;
}

.smash {
  width: 75vw;
  margin-left: 3%;
  transition: 200ms;
}
