.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home header {
  margin: 1vh;
}
.home h2 {
  text-decoration: underline;
}

.info-container {
  background-color: #525252;
  width: 90vw;
  border: 2px solid black;
  border-radius: 15px;
}

.home-info {
  width: 70vw;
  background-color: #385a7785;
  border: 2px solid black;
  padding: 1%;
  margin: 5vh auto;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .info-container {
    width: 95vw;
  }

  .home-info {
    width: 85vw;
    padding: 2%;
  }
}
@media (max-width: 480px) {
  .home h2 {
    text-align: center;
  }

  .home-info {
    width: 80vw;
    padding: 3%;
    margin: 3vh auto;
  }
}
