.stats {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 80vw;
  background-color: #a3a3a3;
}

.pie-chart {
  width: 38vw;
}

.bar {
  margin-top: 3vw;
  width: 50vw;
}
