.stats {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 80vw;
  background-color: #929292;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.pie-chart {
  width: 38vw;
  text-align: center;
  text-decoration: underline;
}

.bar {
  margin-top: 3vw;
  width: 65vw;
  text-align: center;
  text-decoration: underline;
}

.bar-mobile {
  display: none;
}

@media (max-width: 768px) {
  .stats {
    margin: 0 auto;
    width: 95vw;
    background-color: #929292;
    border-left: 2px solid black;
    border-right: 2px solid black;
  }

  .pie-chart {
    width: 85vw;
    text-align: center;
    text-decoration: underline;
  }

  .bar {
    display: none;
  }

  .bar-mobile {
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    margin-top: 3vw;
  }
}
@media (max-width: 480px) {
  .stats {
    margin: 0;
    width: 100vw;
    background-color: transparent;
    border: none;
  }

  .pie-chart {
    text-align: center;
    text-decoration: underline;
    width: 95vw;
  }

  .bar-mobile {
    text-align: center;
    text-decoration: underline;
    margin-top: 7vw;
  }
}
