.stats {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  width: 80vw;
  background-color: #929292;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.pie-chart {
  width: 38vw;
  text-align: center;
  text-decoration: underline;
}

.bar {
  margin-top: 3vw;
  width: 65vw;
  text-align: center;
  text-decoration: underline;
}
