.watchlist {
  background-color: #385a7785;
  display: flex;
  width: 19vw;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  position: fixed;
  right: 1%;
  margin-top: 9vh;
  animation: fadeIn linear 750ms;
  border: 2px solid black;
  color: white;
  text-decoration: none;
}
.watchlist h2 {
  text-decoration: underline;
}
.watchlist li {
  list-style: none;
}

.list-info {
  width: 16vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-right: 2vw;
  font-size: 1.2em;
}
.list-info button {
  height: 2vh;
  width: 2vw;
  cursor: pointer;
  border: 2px solid black;
}
.list-info button:active {
  background-color: #385a7785;
}

.text-link {
  color: white;
  text-decoration: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 480px) {
  .watchlist {
    background-color: #5d7285;
    width: 75vw;
    align-items: center;
    position: fixed;
    right: 1%;
    margin-top: 0.5vh;
    animation: fadeIn linear 750ms;
  }

  .list-info {
    width: 65vw;
    justify-content: space-between;
    font-size: 1.2em;
    margin-right: 5vw;
  }
  .list-info button {
    height: 3vh;
    width: 5vw;
  }
}
