.watchlist {
  background-color: #000000d8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 19vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: fixed;
  right: 1%;
  margin-top: 9vh;
}

.watchlist h2 {
  text-decoration: underline;
}

.watchlist li {
  list-style: none;
}

.list-info {
  width: 16vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2vw;
  font-size: 1.2em;
}

.list-info button {
  height: 2vh;
  width: 2vw;
  cursor: pointer;
}

.list-info button:active {
  background-color: #547591a8;
}
