.watchlist {
    border: 1px solid white;
    display: flex;
    width: 18vw;
    flex-flow: column nowrap;
    align-items: center;
    position: absolute;
    right: 1%;
    margin-top: 9vh;
}

.info {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

    button {
        height: 2vh;
        width: 2vw;
    }

    button:active {
        background-color: #547591a8;
    }
}