.watchlist {
  background-color: #000000d8;
  display: flex;
  width: 19vw;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  position: fixed;
  right: 1%;
  margin-top: 9vh;

  h2 {
    text-decoration: underline;
  }

  li {
    list-style: none;
  }
}

.list-info {
  width: 16vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-right: 2vw;
  font-size: 1.2em;

  button {
    height: 2vh;
    width: 2vw;
    cursor: pointer;
  }

  button:active {
    background-color: #547591a8;
  }
}
