@use "../abstracts/colors" as *;

@mixin chart {
  text-align: center;
  text-decoration: underline;
}

@mixin button {
  height: 5vh;
  width: 6vw;
  cursor: pointer;
  border: $border-main;
}

@mixin breakpoint($point) {
  @if $point == mobile {
    @media (max-width: 480px) {
      @content;
    }
  } @else if $point == tablet {
    @media (max-width: 770px) {
      @content;
    }
  }
}
