.history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80vw;
  margin-left: 10%;
}

.history h1 {
  font-size: 2em;
  margin: 0;
}

.history .history-about {
  font-size: 1.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3vh;
  padding: 1%;
  background-color: #547591a8;
  border: 2px solid black;
}

.history .miyazaki,
.history .hisaishi {
  margin-top: 2vh;
  padding: 1%;
  background-color: #547591a8;
  border: 2px solid black;
}

.smash {
  width: 75vw;
  margin-left: 3%;
  -webkit-transition: 200ms;
  transition: 200ms;
}
